*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-weight: 900;
  overflow-y: hidden;
  background-color: black;
}

.role {
  font-size: 4rem;
  height: 15vh;
  border: 1px solid black;
}

.Special {
  color: brown;
  background-color: #fdb42d
}

.Finance {
  color: lime;
  background-color: gray;
}

.Communications {
  color: cyan;
  background-color: #004080
}

.Force {
  color: gainsboro;
  background-color: black;
}

#new-roster {
  font-size: 2.5rem;
  width: 100vw;
  height: 10vh;
  font-weight: 900;
}